numpy==2.2.1
torch==2.5.1
transformers==4.47.1
tokenizers==0.21.0
accelerate==1.2.1
scikit_learn==1.6.0
scipy==1.14.1
filelock==3.16.1
fire==0.7.0
Flask==3.1.0
gradio==5.9.1
hf_transfer==0.1.8
huggingface_hub==0.27.0
immutabledict==4.2.1
matplotlib==3.10.0
openai==1.58.1
optimum==1.23.3
pandas==2.2.3
plotly==5.24.1
pytest==8.3.4
tqdm==4.67.1
tqdm_multiprocess==0.0.11
trl==0.13.0
peft==0.14.0